<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CARelation</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    /> -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"
    /> -->
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../public/assets/css/style.css"
    />
  </head>

  <body>
    <div class="container">
      <!-- NAV-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">
          <img
            src="assets/images/examplepic1.jpg"
            width="30"
            height="30"
            class="d-inline-block align-top"
            alt=""
          />CARelation</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
          </ul>
        </div>
      </nav>

      <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">
          This is a simple hero unit, a simple jumbotron-style component for
          calling extra attention to featured content or information.
        </p>
      </div>
      <div class="form">
        <select
          data-placeholder="&nbsp;Year"
          class="chzn-select year"
          style="width:70px;"
          tabindex="1"
          id="year"
        >
          <option value=""></option>
          <option value="2014">2014</option>
          <option value="2011">2011</option>
          <option value="1990">1990</option> </select
        ><select
          data-placeholder="Make"
          class="chzn-select"
          style="width:115px;"
          tabindex="2"
          id="make"
        >
          <option value=""></option>
          <option value="ACURA">ACURA</option>
          <option value="VOLVO">VOLVO</option> </select
        ><select
          data-placeholder="Model"
          class="chzn-select"
          style="width:115px;"
          tabindex="3"
          id="model"
        >
          <option value=""></option>
          <option value="COMMANDER">COMMANDER</option>
          <option value="WRANGLER">WRANGLER</option> </select
        ><select
          data-placeholder="Trim"
          class="chzn-select"
          style="width:100px;"
          tabindex="4"
          id="trim"
        >
          <option value=""></option>
          <option value="LIMITED">LIMITED</option>
          <option value="RENEGADE">RENEGADE</option>
        </select>

        <div class="checkbox">
          <label for="checkbox" class="text">Currently Insured?</label>
          <input type="checkbox" id="checkbox" value="1" checked="checked" />
          <label class="box" for="checkbox"></label>
        </div>

        <a href="#" class="button">LET'S GO!</a>
      </div>

      <!-- container div tag-->
    </div>
    <script src="assets/javascript/app.js"></script>
  </body>
</html>
