* {
  text-align: center;
}
body {
  overflow: hidden;
  background-image: url("../images/carBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.content {
  margin-bottom: 0;
  background-color: gray;
  height: 300px;
}
.searchBar {
  background-color: pink;
  height: 50px;
  margin: auto;
  line-height: 3em;
}
#search2 {
  margin-top: 10px;
}
.disappear {
  display: none;
}

.searchBtn {
  width: 400px;
  margin-top: 10px;
}

form {
  width: 400px;
  margin: auto;
  display: inline-block;
}

#addSearch {
  position: fixed;
  margin-left: 10px;
  width: 38px;
  height: 50px;
}
