* {
  text-align: center;
}
body {
  overflow: hidden;
  background-image: url("../images/carBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

a:link {
  color: red;
}
a:visited {
  color: yellow;
}
a:hover {
  color: green;
}
a:active {
  color: purple;
}

.jumbotron {
  margin-bottom: 0;
}
